<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RiderStore</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body id="main-content">
    <header class="header">
        <h1>RiderStore</h1>
        <h2 class="header-title">{% block header-title %}{% endblock %}</h2>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'venta' %}">Realizar Venta</a>
            </li>
            <li>
                <a href="{% url 'registro' %}">Registrar Usuario</a>
            </li>
        </ul>
    </nav>
    
    {% block content %} {% endblock %}
</body>
</html>