{% extends 'layout.html' %}

{% block header-title %}
    REGISTRO DE USUARIO
{% endblock %}

{% block content %}
    <h3> BUENA, REGISTREMOS UN USUARIO </h3>
    <form action="" id="register-form">
        <label for="">RUT</label>
        <input type="text" name="rut">

        <label for="">Nombre</label>
        <input type="text" name="nombre">

        <label for="">Apellido Paterno</label>
        <input type="text" name="apPaterno">

        <label for="">Apellido Materno</label>
        <input type="text" name="apMaterno">

        <label for="">Email</label>
        <input type="text" name="email">

        <label for="">Número Telefono</label>
        <input type="text" name="numTelefono">

        <label for="">Dirección</label>
        <input type="text" name="direccion">

        <label for="">Ciudad</label>
        <input type="text" name="ciudad">

        <label for="">Contraseña</label>
        <input type="text" name="contras">

        <label for="">Cargo</label>
        <input type="text" name="cargo">

        <label for="">Tipo de contrato</label>
        <select name="tipoContrato">
            <option value="A plazo">A plazo</option>
            <option value="Indefinido">Indefinido</option>
        </select>

        <label for="">Jefe Directo</label>
        <input type="text" name="jefeDirecto">

        <input type="submit" value="GUARDAR">

    </form>
{% endblock %}

{#

RUT
NOMBRE
APELLIDO PATERNO
APELLIDO MATERNO
EMAIL
NUMERO TELEFONO
DIRECCION
CIUDAD
CREAR CONTRASEÑA
CONFIRMAR CONTRASEÑA
CARGO DE LA PERSONA
TIPO DE CONTRATO (DROPDOWN)
NOMBRE JEFE DIRECTO

#}