{% extends 'layout.html' %}

{% block header-title %}VENTA{% endblock %}

{% block content %}
    <div class="main-div">
        <div class="product-div">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Posición</th>
                    <th>Código</th>
                </tr>
                <!-- aqui va el listado de la BBDD -->
                
                {% for product in products %}
                <tr>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.precio }}</td>
                    <td>{{ product.posicion }}</td>
                    <td>{{ product.codigo_producto }}</td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
        <div class="form-div">
            <form action="">
                <label><strong>Ingrese el código del producto</strong></label>
                <br>
                <select class="sel-product">
                    {% for code in products %}
                        <option value="{{ code.codigo_producto }}">{{ code.codigo_producto }}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="boton" type="submit" value="Guardar">
            </form>
        </div>
        <div class="viewProductSel-div">
            <h3>Aqui aparece el producto seleccionado</h3>
        </div>
    </div>
{% endblock %}
